<!DOCTYPE html>
<html>
  <head>
    <title>Sleeplog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="navbar">
  		<button class="navlink"><%= link_to "Home", root_path %></button>
 		<button class="navlink"><%= link_to "New Nap", new_day_path %></button>
 		<button class="navlink"><%= link_to "This Week", day_rests_path([@day, @rests]) %></button>
 

  	</div>
    <%= yield %>
  </body>
</html>
